@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Concurrency handling - demo</h1>

<p>This Razor demo site shows how to implement optimistic concurrency control in your application.</p>
<p>This repo will be updated as the article series is published over time.</p>

<p>There are the following parts:</p>
<ul>
    <li>
        Customers Repository<br />The grid page calls the Customers repository class to get/maintain data. The repository uses the concurrency check build
        into EF Core and Microsoft SQL Server (Express works as well). The locking method is optimistic
    </li>
    <li>
        Customers API<br />The grid page calls a repository-client class that calls the Customers REST API to get/maintain data. The REST API calls the repository that uses the
        concurrency check build into EF Core. It is actually the same repository class as above. The code in the REST API show how to handle the concurrency stamp. The locking
        method is optimistic<br />
        <strong>Please note</strong> that this demo require that you have started the Blazor demo as well. The API is hosted in the Blazor demo
    </li>
    <li>
        Products<br />Shows how to manually handle concurrcncy check. Here in Microsoft SQL Server, and it is the same method for databases that do not have build-in concurrency
        check. This demo also shows you how to handle concurrency check for subsets of fields. The locking method is optimistic
    </li>

</ul>

<p>To see how the advanced optimistic locking for a subset of fields for Products works, do the following:</p>
<ol>
    <li>Here in the Razor demo, select Products options in the menu above</li>
    <li>Create a product. After creation, click on the button 'Back to list'. You are now back on the grid page</li>
    <li>Then, click on the 'Update info' button</li>
    <li>When the page with the information is shown, select the other browser, that shows the Blazor demo</li>
    <li>In the Blazor demo, select the Products option</li>
    <li>When the grid is shown, click on the 'Update quantity' button. The product quantity update dialog box is shown. That it for now</li>
    <li>Select the browser showing this Razor demo</li>
    <li>Change the name of the product, and click on the 'Save' button</li>
    <li>Select the browser showing the Blazor demo</li>
    <li>It should still show the update quantity dialog box. Change one of the quantity fields, and click on the 'Save' button</li>
    <li>No error message is show, as the Info field and the Quantity fields are handled by two separate Concurrency Tokens</li>
    <li>Try to call up the Info update page/dialog box in both this Razor demo, and the Blazor demo</li>
    <li>Change in one of the demos, click 'Save' and select the other browser, and change here too</li>
    <li>An error message is displayed, that someone has change the Info fields after you read the information</li>
    <li>This is the result of Advanced Optimistic locking. No data is overwritten is the subset of fields</li>
</ol>

<p>To see how the optimistic locking for Customers works, do the following:</p>
<ol>
    <li>Here in the Razor demo, select one of the customer options in the menu above</li>
    <li>Create a customer. After creation, close the dialog. You are now back on the grid page</li>
    <li>Select the other browser, that shows the Blazor demo</li>
    <li>In the Blazor demo, select one of the Customer options</li>
    <li>When the grid is shown, click on the 'Update' button. The customer update page is shown. That it for now</li>
    <li>Select the browser showing this Razor demo</li>
    <li>In the Razor demo, click on the 'Update' button next to the customer</li>
    <li>When the customer update page is shown, change the name of the customer, and then click 'Update', and close the dialog</li>
    <li>In the grid, you will now see the updated name of the customer</li>
    <li>Select the browser showing the Razor demo</li>
    <li>It should still show the customer update page. Change the name here too. Click on the button 'Save'</li>
    <li>You will how see an error message, stating that someone else has changed this particiluar customer, after it has been read from the database</li>
    <li>This is the result of Optimistic locking. No data is overwritten</li>
</ol>

<p>
    Please note, that the two Customers grid pages are identical. The only thing changed is the key for the CustomersLogic service on the 
    '[<span style="font-family: monospace; color: green">inject</span>]' attribute.
</p>

