{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Data Source={Name of your SQL Server/SQL Express Server goes here};Initial Catalog=ConcurrencyDemo;Integrated Security=True;TrustServerCertificate=Yes;"
  },
  "Values": {
    "RESTHost": "https://localhost:7116/api/"
  },
  "LockingSettings": {
    "DurationMinutes": 1
  }
}
