@using System.Buffers.Binary
@using HandleConcurrency.Data
@using HandleConcurrency.Repositories.Interfaces
@using HandleConcurrencyBlazorDemo.Models
@using HandleConcurrencyBlazorDemo.Utils

<style>
    .entryform {
        display: grid;
        grid-template-columns: max-content auto;
    }

        .entryform > div {
            padding: 3px;
        }
</style>

@if (_isLoading)
{
    <p>Loading. Please wait...</p>
}
else if (_dataIsPresent)
{
    <EditForm class="entryform" Model="product" OnValidSubmit="@(async () => await UpsertData())">
        <div><ValidationSummary /></div>
        <div><DataAnnotationsValidator /></div>
        @if (dialogMode is DialogMode.Update)
        {
            <div>Product Id:</div>
            <div>@product!.Id</div>
        }
        <div>
            <label>Name:</label>
        </div>
        <div>
            <InputText @bind-Value="product!.Name" />
        </div>
        <div>
            <label>In stock:</label>
        </div>
        <div>
            <InputNumber @bind-Value="product.ItemsInStock"></InputNumber>
        </div>
        <div>
            <label>In order:</label>
        </div>
        <div>
            <InputNumber @bind-Value="product.ItemsInOrder"></InputNumber>
        </div>
        @if (dialogMode is DialogMode.Update)
        {
            <div>Created:</div>
            <div>@product!.Created by @product.CreatedBy</div>
            <div>Last modified:</div>
            <div>
                @if (product!.Modified is not null)
                {
                    @product!.Modified <text> by </text> @product!.ModifiedBy
                }
                else
                {
                    <text>(Not modified yet)</text>
                }
            </div>
            <div>
                Record version:
            </div>
            <div>
                Info: @product.VersionInfo<br />Quantities: @product.VersionQuantities
            </div>
        }
        <div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </EditForm>
}

@if (!string.IsNullOrEmpty(_message))
{
    <div class="alert alert-info mt-4">
        @_message
    </div>
}

@code {
    [Parameter]
    public long EntityId { get; set; }

    [Parameter]
    public required IProductRepository Repository { get; set; }

    [SupplyParameterFromForm]
    public Product? product { get; set; }

    private DialogMode dialogMode;
    private bool _isLoading = true;
    private bool _dataIsPresent = false;
    private string _message = string.Empty;
    private const string _userName = "Blazor page";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender is true)
        {
            dialogMode = EntityId is 0 ? DialogMode.Insert : DialogMode.Update;
            await LoadDataAsync();
            _isLoading = false;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// Fetch data to be maintained in the dialog
    /// </summary>
    /// <returns>The requested data</returns>
    private async Task LoadDataAsync()
    {
        _dataIsPresent = false;
        _message = string.Empty;

        if (dialogMode is DialogMode.Update)
        {
            var result = await Repository.GetByIdAsync(EntityId);
            if (result.IsSuccess)
            {
                var data = result.Data;
                product = result.Data;
                _dataIsPresent = true;
            }
            else
            {
                product = new();
                _message = result.FormatMessages();
            }
        }
        else
        {
            _dataIsPresent = true;
            product = new();
        }
    }

    /// <summary>
    /// Route flow to relevant method.
    /// </summary>
    /// <returns></returns>
    private async Task UpsertData()
    {
        if (dialogMode is DialogMode.Insert)
        {
            await InsertData();
        }
        else
        {
            await UpdateData();
        }
    }

    /// <summary>
    /// Handle adding a new entity.
    /// </summary>
    /// <returns></returns>
    private async Task InsertData()
    {
        var result = await Repository.AddAsync(product!, _userName);
        if (result.IsSuccess)
        {
            product = result.Data!;
            EntityId = product.Id;
            _message = $"Product {EntityId} created.";
        }
        else
        {
            _message = result.FormatMessages();
        }
    }

    /// <summary>
    /// Handle updating an existing entity.
    /// </summary>
    /// <returns></returns>
    private async Task UpdateData()
    {
        var result = await Repository.UpdateAsync(product!, _userName);
        if (result.IsSuccess)
        {
            product = result.Data!;
            _message = $"Product {EntityId} updated.";
        }
        else
        {
            _message = result.FormatMessages();
        }
    }
}
