@using HandleConcurrency.Data.DTOs
@using HandleConcurrency.Repositories.Interfaces
@using System.Buffers.Binary

<style>
    .entryform {
        display: grid;
        grid-template-columns: max-content auto;
    }

        .entryform > div {
            padding: 3px;
        }
</style>

@if (_isLoading)
{
    <p>Loading. Please wait...</p>
}
else if (_dataIsPresent)
{
    <EditForm class="entryform" Model="productInfo" OnValidSubmit="@(async () => await UpdateData())">
        <div><ValidationSummary /></div>
        <div><DataAnnotationsValidator /></div>
        <div>Product Id:</div>
        <div>@productInfo!.Id</div>
        <div>
            <label>Name:</label>
        </div>
        <div>
            <InputText @bind-Value="productInfo!.Name" />
        </div>
        <div>Created:</div>
        <div>@productInfo!.Created by @productInfo.CreatedBy</div>
        <div>Last modified:</div>
        <div>
            @if (productInfo!.Modified is not null)
            {
                @productInfo!.Modified
                <text> by </text>
                @productInfo!.ModifiedBy
            }
            else
            {
                <text>(Not modified yet)</text>
            }
        </div>
        <div>
            Area version:
        </div>
        <div>
            @productInfo.VersionInfo
        </div>
        <div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </EditForm>
}

@if (!string.IsNullOrEmpty(_message))
{
    <div class="alert alert-info mt-4">
        @_message
    </div>
}

@code {
    [Parameter]
    public long EntityId { get; set; }

    [Parameter]
    public required IProductRepository Repository { get; set; }

    [SupplyParameterFromForm]
    public ProductInfoDTO? productInfo { get; set; }

    private bool _isLoading = true;
    private bool _dataIsPresent = false;
    private string _message = string.Empty;
    private const string _userName = "Blazor page";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender is true)
        {
            if (EntityId is not 0)
            {
                await LoadDataAsync();
                _isLoading = false;
            }
            else
            {
                _message = $"This dialog must be called with a product Id in the field Product Id.";
            }

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// Fetch data to be maintained in the dialog
    /// </summary>
    /// <returns>The requested data</returns>
    private async Task LoadDataAsync()
    {
        _dataIsPresent = false;
        _message = string.Empty;

        var result = await Repository.GetByIdAsync(EntityId);
        if (result.IsSuccess)
        {
            productInfo = result.Data!;
            _dataIsPresent = true;
        }
        else
        {
            productInfo = new();
        }
        _message = result.FormatMessages();
    }

    /// <summary>
    /// Update section fields.
    /// </summary>
    /// <returns></returns>
    private async Task UpdateData()
    {
        var result = await Repository.UpdateInfoAsync(productInfo!, _userName);
        if (result.IsSuccess)
        {
            productInfo = result.Data!;
            _message = $"Product {EntityId} updated.";
        }
        else
        {
            _message = result.FormatMessages();
        }
    }
}
